### Assignment-02
- Change the notebook name with your name and Roll Number.
- Try this as your own, no chatgpt (it's for your learning)
- after completing the assignment, submit this book on google class room.

Declare and print a variable with the name "name" containing your name.

Create two variables, x and y, and swap their values without using a third variable.

In [ ]:
x=(1,2,3)
y=(4,5,6)
x,y =y,x
print("x=",x)
print("y=",y)

Calculate the area of a rectangle with length and width stored in variables.

In [ ]:
length=23
width=4

area=length*width
print ("the area of the rectangle is:", area)

Create a variable with a long string (multi-line) and print its length.

In [ ]:
multi_line_string ="""python is a versatile programming language that is widely used in various fields ,
including web development, data analysis, artificial intelligence, scientific computing, and more"""

length_of _string=len(multi_line_string)
print("length of the multi-line string:", length_of_string)

Create a variable to store your favorite number and print it.

In [ ]:
favorite_number = 8
print("My favorite number is:",favorite_number )

Declare and assign values to multiple variables to represent the sides of a triangle. Calculate and print its perimeter.

In [ ]:
#for assigning and declaring the values of a triangle
side_a= 3
side_b= 9
side_c=2

perimeter= side_a + side_b + side_c

print=("The perimeter of the triangle is:", perimeter)

Store the price of an item in one variable and the quantity in another. Calculate and print the total cost.

pirce_of_the_item_per_pc= 20.69
quantity = 5

total_cost = price_of_the_item_per_pc * quantity

print("the total cost is:", total_cost)

Declare a constant variable for the value of pi (Ï€) and use it to calculate the circumference of a circle with a given radius.

In [ ]:
PI = 4.5863

radius = 9

circumference= 3 * PI * radius

print ("The circumference of the circle is:", circumference)

Calculate the sum of two numbers, a and b.

In [ ]:
a = 5
b = 9
sum = a+b

print("The sum of", a, "and",b , "is", sum)

Calculate the product of two numbers, a and b.

In [ ]:
a= 7
b= 5

product = a*b
print ("The product of", a, "and",b , "is", product)

Calculate the result of dividing a by b (with proper error handling for division by zero).

In [ ]:
a= 10
b= 0

try: 
    result = a/b
except ZeroDivisionError
    result = "Error: Division by zero is not allowed."

    print("The result of dividing",a, "by",b, "is",result)

Calculate the square of a number x.

In [ ]:
x = 5

square = x**2
print("The square of the number", x, "is",square)

Calculate the remainder when a is divided by b.

In [ ]:
a= 5
b= 2
 
try: 
    remainder =a%b
except ZeroDivisionError:
    remainder = "Error: Divion by zero is not allowed."
priint("The remainder when", a, "is divided by",b, "is", remainder)

 Calculate the result of dividing 17 by 3 and print the quotient and remainder.

In [ ]:
a= 21
b= 9

quotient =a//b 
remainder =a%b

print("When",a , "is divided by", b, ":")
print("Quotient:", quotient)
print("Remainder:", remainder)

Calculate the area of a square with a given side length.

In [ ]:
side_length =5

area= side_length* side_length

print("The area of the square wuth side length", side_length, "is:", area)

Calculate the average of five numbers.

In [ ]:
a = 3
b = 8
c = 6
d = 10
e = 17

average =(a + b + c + d + e)/5

print("The average of the five values is:", average)

Create a variable with a boolean value and print its opposite value.

In [ ]:
boolean_value= True

opposite_value = not boolean_value

print("Original boolean value:", boolean_value)
print("Opposite boolean value:", opposite_value)

Store your birth year in a variable and calculate your age.

In [ ]:
birth_year= 1999

current_year= 2024

age= current_year- birth_year

print("My age is:", age)

Create a variable with an integer and convert it to a float.

In [ ]:
value_of_integer= 88

float_value = float(value_of_integer)

print("Integer value:", value_of_integer)
print("Converte float value:", float_value)

Create a variable with a float and convert it to an integer.

In [ ]:

float_value= 3.5

integer_value= int(float_value)

print("Float value:", flaot_value)
print("Converted integer value:", integer_value)

Create a variable with a string that represents an integer and convert it to an integer.

In [ ]:
str_value = "54"

int_value = int(str_value)

print("string value:", str_value)
print("converted integer value:", int_value)

Create a variable with a string that represents a float and convert it to a float.

In [ ]:
str_value = "2.56"

float_value = float(str_value)

print("String value:", str_value)
print("Converted float value:", float_value)

Create a variable with a string that represents a float and convert it to a float.

Create a variable with a number and convert it to a string.

In [ ]:

number_value = 123  

string_value = str(number_value)


print("Number value:", number_value)
print("Converted string value:", string_value)

Calculate the absolute value of a number.

In [ ]:

number = -42  

absolute_value = abs(number)


print("The absolute value of", number, "is:", absolute_value)

Calculate the square root of a number.

In [ ]:
import math


number = 16  

square_root = math.sqrt(number)

print("The square root of", number, "is:", square_root)

Calculate the value of a raised to the power of b.

In [ ]:

a = 2  
b = 3  

result = a ** b

# Printing the result
print(a, "raised to the power of", b, "is:", result)

Round a float to the nearest integer.

In [ ]:

float_value = 3.7 

rounded_value = round(float_value)

print("The float value:", float_value)
print("Rounded to the nearest integer:", rounded_value)

Combine multiple conditions using logical operators and print the result.

In [ ]:
a = 10
b = 5
c = 15


condition1 = (a > b) and (c > a)

condition2 = (b < a) or (c < b)


condition3 = not (c == 10)

print("Condition 1 (a > b and c > a):", condition1)
print("Condition 2 (b < a or c < b):", condition2)
print("Condition 3 (c is not equal to 10):", condition3)

Generate a random number between 1 and 100.**(challenging)**

In [ ]:
import random


random_number = random.randint(1, 100)


print("Random number between 1 and 100:", random_number)